.mod-page {
  width: 1000px;
  height: 30px;
  margin: 40px auto 65px auto;
  text-align: center;
  color: #0270cf;
}
.mod-page ul {
  display: inline-block;
}
.mod-page li {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
}
.mod-page li.current {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #0270cf;
}
.mod-page li.next,
.mod-page li.prev,
.mod-page li.omit {
  width: auto;
}
.mod-page a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #0270cf;
  text-align: center;
}
