/*.mod-price-ticket*/
.mod-price-ticket{
    width: 998px;
    border: 1px solid #c4c4c4;
    border-top:  none;
    margin: 0 auto;
    overflow: hidden;
    color: #000;
}
.mod-price-ticket .header{
    height: 24px;
    padding: 9px 10px;
    line-height: 24px;
    background-color: #eeeeee;
}
.mod-price-ticket .header .sport-type{
    float: left;
}
.mod-price-ticket .header select{
    height: 24px;
    width: 100px;
    border: 1px solid #000;
    border-radius: 5px;
}
.mod-price-ticket .header a{
    float: right;
    width: 70px;
    height: 22px;
    line-height: 22px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    color: #000 !important;
    box-shadow: 1px 1px 1px 1px;
    text-decoration: none;
}
.mod-price-ticket .content .week{
    margin:0 auto;
    width:728px;
    height:36px;
}
.mod-price-ticket .content .week li{
    float:left;
    width:79px;
    height:26px;
    line-height: 26px;
    text-align:center;
    margin-right:12px;
    margin-top:5px;
    background-color:#000000;
    color:#fff;
    border-radius:4px;
    cursor: pointer;
}
.mod-price-ticket .content .week .selected{
    background-color: #989898;
}
.mod-price-ticket .places-warp{
    width: 980px;
    min-height: 300px;
    padding-bottom: 50px;
    margin: 10px auto 0 auto;
    overflow-y: scroll;
}
.mod-price-ticket .places .row{
    position: relative;
    width: 955px;
    height: 32px;
    padding: 26px 0 26px 25px;
    margin-bottom: 10px;
    line-height: 32px;
    background-color: #ebebeb;
    border-radius: 10px;
}
.mod-price-ticket .places .item{
    position: relative;
    float: left;
    height: 32px;
}
.mod-price-ticket .places .title{
    display: inline-block;
    height: 32px;
    width: 70px;
    padding-right: 5px;
    text-align: right;
}
.mod-price-ticket .places .value{
    height: 32px;
    width: 92px;
    border: none;
}
.mod-price-ticket .places .no .value{
    width: 170px;
}
.mod-price-ticket .places .divider{
    padding: 0 10px;
}
.mod-price-ticket .places .close{
    position: absolute;
    width: 28px;
    height: 28px;
    top: 5px;
    right: 5px;
    background: url("../img/close.png");
}
.mod-price-ticket .places-warp .add{
    float: right;
    width: 78px;
    height: 26px;
    margin-top: 10px;
    line-height: 26px;
    border-radius: 5px;
    text-align: center;
    background-color: #000;
    color: #fff !important;
    text-decoration: none;
}